<h1>Новое Второе блюдо</h1>
<% if current_user.admin? %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'form', cereal: @cereal %>
    </div>
  </div>
<% else %>
  <p>Здесь может шариться только Admin</p>
<% end %>
