<h1>Новый напиток</h1>
<% if current_user.admin? %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'form', drink: @drink %>
    </div>
  </div>
<% else %>
  <p>Здесь может шариться только Admin</p>
<% end %>
