<h1>Новое Первое блюдо</h1>
<% if current_user.admin? %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'form', soup: @soup %>
    </div>
  </div>
<% else %>
  <p>Здесь может шариться только Admin</p>
<% end %>
