<% if current_user == @user || current_user == User.first %>
<h1>Редактирование профиля</h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form', user: @user %>
  </div>
</div>
<% else %>
  <p>У Вас нет права здесь находится</p>
<% end %>
